
.title1 {
    background: blue;
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 0;
}

.title2 {
    background: yellow;
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 0;
}
