<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>ua.ishop.klunniy.controller.user.UserRegistrationServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UsersJsp</servlet-name>
    <jsp-file>/users.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersJsp</servlet-name>
    <url-pattern>/users-jsp</url-pattern>
  </servlet-mapping>

</web-app>
